body {
	background-color:green;
}

p{
	font-size:16px;
	text-transform: lowercase;
}

h1{
	color:#E2FFFF;
}

h2{
	margin-bottom:15px;
}

li{
	font-family:"Arial", Helvectica, sans-serif;
}

#recipe-header {
	padding: 210px 10px;
    background: url(./images/chocolate.jpg) no-repeat;
    background-size: cover;
    height: 50%;
    width: 80%;
}

